EMAIL_HOST_USER=yatins113@gmail.com
EMAIL_HOST_PASSWORD=your_gmail_app_password_here
DEFAULT_FROM_EMAIL=yatins113@gmail.com
FRONTEND_URL=https://admexo-assignment-q37j.vercel.app
BACKEND_URL=https://admexo-assignment.onrender.com
